/************* SCREEN SIZES ****************/
$breakpoint-mobile-small: 368px;
$breakpoint-mobile: 475px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1280px;
$breakpoint-desktop: 1440px;
$breakpoint-large: 1600px;

/************* FONT SIZES ****************/
$font-title: 88px;
$font-h1: 60px;
$font-h2: 48px;
$font-h3: 36px;
$font-h4: 26px;
$font-subhead: 20px;
$font-body-lg: 18px;
$font-body-base: 16px;
$font-caption: 14px;
$font-pill: 12px;
