
/************* FONT FACES ****************/
@font-face {
  font-family: Barlow;
  font-weight: normal;
  src: url('./Barlow_Condensed/BarlowCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Barlow;
  font-weight: 500;
  src: url('./Barlow_Condensed/BarlowCondensed-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Barlow;
  font-weight: 600;
  src: url('./Barlow_Condensed/BarlowCondensed-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: Barlow;
  font-weight: 700;
  src: url('./Barlow_Condensed/BarlowCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Barlow;
  font-weight: 800;
  src: url('./Barlow_Condensed/BarlowCondensed-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: Barlow;
  font-weight: 900;
  src: url('./Barlow_Condensed/BarlowCondensed-Black.ttf') format('truetype');
}